body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #3498db;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #2980b9;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-form input, .form-control {
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #2e2e2e;
    color: #ffffff;
    width: 100%;
    box-sizing: border-box;
}

.login-form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-form button:hover {
    background-color: #2980b9;
}

.status-text {
    font-weight: bold;
}

.green-text {
    color: green;
}

.red-text {
    color: red;
}

.blue-text {
    color: blue;
}